# fill below and rename to twitter4j.properties
oauth.consumerKey=<FILL THIS>
oauth.consumerSecret=<FILL THIS>
oauth.accessToken=<FILL THIS>
oauth.accessTokenSecret=<FILL THIS>
oauth2.accessToken=<FILL THIS>
oauth2.client_id=<FILL THIS>
oauth2.redirect_uri=<FILL THIS>
debug=false
http.prettyDebug=false
